---
layout: index
---
<div class="archived-modules">
{% for post in site.posts %}
  {% unless post.next %}
  <h2 class="this-year-category">{{ post.date | date: '%Y' }}</h2>
  {% else %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nyear %}
  <h2 class="year-category">{{ post.date | date: '%Y' }}</h2>
  {% endif %}
  {% endunless %}
  <div class="archived-row">
    <a class="article-link clearfix" href="{{ post.url | prepend: site.baseurl }}">
      <span class="article-link-title flt">{{ post.title }}</span>
      <span class="date-label frt">{{ post.date | date: "%m-%d" }}</span>
    </a>
  </div>
{% endfor %}
</div>
