{
   "src_dir"            :   "/Users/TangXiao/WorkSpace/vimplus.github.io/images",
   "bucket"             :   "thinktxt",
   "up_host"            :   "https://upload.qbox.me",
   "ignore_dir"         :   false,
   "key_prefix"         :   "images/",
   "overwrite"          :   false,
   "check_exists"       :   false,
   "check_hash"         :   false,
   "check_size"         :   false,
   "rescan_local"       :   true,
   "skip_file_prefixes" :   "test,demo,google,Rakefile",
   "skip_path_prefixes" :   "hello/,temp/",
   "skip_fixed_strings" :   ".svn,.git",
   "skip_suffixes"      :   ".yml,.config,.md,.DS_Store,.exe",
   "log_file"           :   "upload.log",
   "log_level"          :   "info",
   "log_rotate"         :   1,
   "log_stdout"         :   false
}
