<!-- Footer -->
<footer class="site-footer theme-dark">
    <div class="content">
        <div class="footer-rights">
            <p class="text-center">Copyright © 2014-<span id="thisYear"></span> LXYTech Inc. All Rights Reserved</p>
        </div>
    </div>
</footer>

<script type='text/javascript' src='{{ site.url }}/js/foundation.min.js?v={{site.version}}'></script>
<script type='text/javascript' src='{{ site.url }}/js/app.js?v={{site.version}}'></script>
<script>
  /* Copyright Year */
  (function () {
    var date = new Date();
    var thisYear = date.getFullYear();
    $('#thisYear').text(thisYear);
  })();

  /* Baidu Total */
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?5be4a23cbd9cf916435835afbf30c09f";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<!-- End Footer -->
