<header class="site-header theme-dark">
    <div class="content hd-height">
        <div class="hd-brand">
            <div class="hd-logo">
                <img class="img-logo" src="/images/lxylogo.jpg">
            </div>
            <div class="hd-text">
                <p class="title">{{ site.title }}</p>
                <p class="slogan">{{ site.description }}</p>
            </div>
        </div>
        <nav class="header-nav">
            <ul id="themenu" class="nav-bar">
                {% for link in site.links %}
                <li>
                    <a class="nav-link" target="{% if link.external %}_blank{% else %}_top{% endif %}" href="{% unless link.external %}{{ site.url }}{% endunless %}{{ link.url }}">
                     {{ link.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>