<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<meta charset="UTF-8" />

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico" />
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<link rel="stylesheet" id='foundation-css'  href="{{ site.url }}/css/foundation.css?ver={{site.version}}" media="all" />
<link rel="stylesheet" id='aude-layout-css'  href="{{ site.url }}/css/master.css?ver={{site.version}}" media="all" />
<link rel="stylesheet" id='foundation-css'  href="{{ site.url }}/css/syntax.css?ver={{site.version}}" media="all" />
<script type='text/javascript' src='{{ site.url }}/js/jquery.js'></script>

<!-- <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript' src='{{ site.url }}/js/modernizr.foundation.js?ver={{site.version}}"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script> -->
