<!DOCTYPE html>
<html class="theme-vimplus">

<head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
</head>

<body class="blog">
    <div class="preloader">
        <div class="preload-status"></div>
    </div>

    <div class="wrap">
        <!-- Header -->
        {% include header.html %}
        <!-- End Header -->
        <!-- Main Page Content and Sidebar -->
        <div class="main-part">
            <div class="content theme-tint">
                <div class="mode-container nine columns">
                    <!-- Post -->
                    <article class="article">
                        <header class="article-header">
                            <div class="article-title">
                                <h1>{{ page.title }}</h1>
                            </div>
                            <div class="article-info">
                                <time class="date" datetime="{{ page.date | date: '%B %d, %Y'}}">{{ page.date | date: '%Y-%m-%d'}}</time>
                                <a class="category" href="/categories.html#{{page.categories}}">{{page.categories}}</a>
                                <span class="leancloud-visitors-count" data-hk-page="current"> - </span>
                                <span class="post-meta-item-text">次浏览</span>
                            </div>
                        </header>
                        <div class="main-content">
                            {% if page.image %}
                            <p class="article-img">
                              <img class="main-img" src="{{page.image}}">
                            </p>
                            {% endif %}
                            <div class="main-text">
                                {{ content }}
                            </div>
                            <div class="columns-hd">相关标签</div>
                            <div class="article-tags">
                              {% for tag in page.tags %}
                              <a class="tag" id="{{ tag }}-ref" href="/tags.html#{{tag}}">{{ tag }}</a>
                              {% endfor %}
                            </div>
                            {% if page.pay %}
                            <div class="qrCode-pay"><img src="https://thinktxt.static.lxyour.com/images/blog-qrcode-pay.jpg" alt="qrcode-pay"></div>
                            {% endif %}
                        </div>
                        {% if page.comments %} {% include disqus.html %} {% endif %}
                    </article>
                    <!-- End Post -->
                </div>
            </div>
            <div class="sider-bar"></div>
        </div>
        <!-- End Main Page Content and Sidebar -->
        <!-- Footer -->
        {% include footer.html %}
        <!-- End Footer -->
    </div>
</body>

</html>
